# --- Racine du projet ---

# --- UNP4K ---
unp4k/Engine/
unp4k/Data/
unp4k/output.txt
unp4k/mods/

unp4k/START_LIVE.bat
unp4k/START_PTU.bat
unp4k/START_HOTFIX.bat

unp4k/START_FULL_LIVE.bat
unp4k/START_FULL_PTU.bat
unp4k/START_FULL_HOTFIX.bat

unp4k/ScMOVE.bat

# --- ScDataDumper ---
ScDataDumper-master/import
ScDataDumper-master/export

ScDataDumper-master/START.bat
ScDataDumper-master/Clean4LIVE.bat
ScDataDumper-master/Clean4PTU.bat
ScDataDumper-master/Clean4HOTFIX.bat

# --- Logs ---
logs/
